.moving_shape {
  width: 1500px;
  height: 1000px;
  left:25%;
  top: 70%;
  background-color: #b6a4e0;
  animation: bg-move 45s linear infinite forwards,
  border-move 45s linear infinite forwards;
}

.container {
z-index: -1;
// height: 340px;
// width: 370px;
position:fixed;
left:10%;
top: 70%;
// transform: translate(0,-50%);
opacity: 0.8;
}

@keyframes bg-move{0%{background-position:0 50%}50%{background-position:100% 50%}to{background-position:0 50%}}

@keyframes border-move{
0%{ border-radius:51% 49% 34% 66% / 39% 66% 34% 61%; }
10%{ border-radius:39% 61% 38% 62% / 53% 54% 46% 47%; }
20%{ border-radius:56% 44% 52% 48% / 57% 35% 65% 43%; }
30%{ border-radius:41% 59% 45% 55% / 33% 56% 44% 67%; }
40%{ border-radius:46% 54% 60% 40% / 55% 74% 26% 45%; }
50%{ border-radius:44% 56% 22% 78% / 31% 74% 26% 69%; }
60%{ border-radius:31% 69% 32% 68% / 31% 71% 29% 69%; }
70%{ border-radius:44% 56% 60% 40% / 63% 36% 64% 37%; }
80%{ border-radius:46% 54% 38% 62% / 44% 48% 52% 56%; }
90%{ border-radius:66% 34% 57% 43% / 49% 51% 49% 51%; }
100%{ border-radius:51% 49% 34% 66% / 39% 66% 34% 61%; }
}